@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e8e8e8;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 10px;
}

.container h2 {
  font-weight: bolder;
  font-size: 1.8rem;
  margin-left: 8px;
}
.desc {
  opacity: 0.6;
  margin: 15px 0;
}
.container label {
  opacity: 0.8;
}
.container input {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

.container input[type="date"] {
    margin-top: 5px;
    margin-bottom: 0px;
  }

.container input[type="text"],
input[type="password"],
input[type="date"] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
}

input[type="date"]:not(.has-value):before{
    color: lightgray;
    content: attr(placeholder);
  }

  
input#chcRememberMe {
  transform: scale(1.3);
  border: 1px solid #dddddd;
}
.danger {
  color: red;
  font-size: smaller;
}

.form-group {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 15px 0;
  vertical-align: middle;
}

.form-group a {
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
}

.form-group a:hover {
  opacity: 0.7;
}

.line hr {
  color: #dddddd;
  opacity: 0.5;
  margin: 15px 0;
}
.btn {
  width: 100%;
  background-color: #0085fe;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
}

.signup p {
  text-align: center;
}
.signup a {
  text-decoration: none;
  color: #0085fe;
  font-weight: 900;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6f8ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 15px;
}
.header {
  display: flex;
}

.info {
    color: #000000;    
    opacity: 0.5;
    font-size: small;
    margin-top: 0px;
}